<section class="stats py-lg-5 py-4">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <h3 class="timer count-title count-number">1500</h3>
                    <p class="count-text ">Support</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <h3 class="timer count-title count-number">1700</h3>
                    <p class="count-text ">Happy Hours</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <h3 class="timer count-title count-number">11900</h3>
                    <p class="count-text ">Project Complete</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <h3 class="timer count-title count-number">157</h3>
                    <p class="count-text ">Cups of Coffee</p>
                </div>
            </div>
        </div>
    </div>
</section> 
