@model VEducation.Data.ViewModels.Pages.HomePageViewModel 

<div class="banner-info-w3pvt">
    @foreach (var item in Model.Think)
    {
        <h3>@item.Title</h3>
        <p class="my-4">@item.Description</p>
    }

</div>